config ZMK_KEYBOARD_THINK_CORNEY
    bool "think_corney keyboard"
    default y

config ZMK_SHIELD_THINK_CORNEY_LEFT
    bool "think_corney left"
    select ZMK_KEYBOARD_THINK_CORNEY

config ZMK_SHIELD_THINK_CORNEY_RIGHT
    bool "think_corney right"
    select ZMK_KEYBOARD_THINK_CORNEY