#include "think_corney.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&pro_micro 21 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        ;
};

/* nice!view SPI: SCK=D3(P0.20), MOSI=D2(P0.17), CS=D9 */
&pinctrl {
    nice_view_spi_default: nice_view_spi_default {
        group1 {
            psels =
                <NRF_PSEL(SPIM_SCK, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0, 17)>;
        };
    };

    nice_view_spi_sleep: nice_view_spi_sleep {
        group1 {
            psels =
                <NRF_PSEL(SPIM_SCK, 0, 20)>,
                <NRF_PSEL(SPIM_MOSI, 0, 17)>;
            low-power-enable;
        };
    };
};

nice_view_spi: &spi1 {
    compatible = "nordic,nrf-spim";
    status = "okay";
    pinctrl-0 = <&nice_view_spi_default>;
    pinctrl-1 = <&nice_view_spi_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&pro_micro 9 GPIO_ACTIVE_HIGH>;
};

/* TrackPoint (PS/2) on RIGHT half */
#define MOUSE_PS2_DRIVER_UART
#define MOUSE_PS2_PIN_SCL_PRO_MICRO <&pro_micro 1 GPIO_ACTIVE_HIGH>  /* D1 */
#define MOUSE_PS2_PIN_SDA_PRO_MICRO <&pro_micro 0 GPIO_ACTIVE_HIGH>  /* D0 */
#define MOUSE_PS2_PIN_SDA_PINCTRL <NRF_PSEL(UART_RX, 0, 8)>
#define MOUSE_PS2_UART_BAUD_RATE <14400>
#define MOUSE_PS2_DT_PRESENT

&pinctrl {
    uart0_ps2_default: uart0_ps2_default {
        group1 {
            psels =
                <NRF_PSEL(UART_TX, 1, 13)>,
                MOUSE_PS2_PIN_SDA_PINCTRL;
        };
    };
    uart0_ps2_sleep: uart0_ps2_sleep {
        group1 {
            psels =
                <NRF_PSEL(UART_TX, 1, 13)>,
                MOUSE_PS2_PIN_SDA_PINCTRL;
            low-power-enable;
        };
    };
    uart0_ps2_off: uart0_ps2_off {
        group1 {
            psels =
                <NRF_PSEL(UART_TX, 1, 13)>,
                <NRF_PSEL(UART_RX, 1, 12)>;
        };
    };
};

&uart0 {
    status = "disabled";
    compatible = "nordic,nrf-uarte";
    current-speed = MOUSE_PS2_UART_BAUD_RATE;
    pinctrl-0 = <&uart0_ps2_default>;
    pinctrl-1 = <&uart0_ps2_off>;
    pinctrl-names = "default", "sleep";

    uart_ps2: uart_ps2 {
        status = "disabled";
        compatible = "uart-ps2";
        scl-gpios = MOUSE_PS2_PIN_SCL_PRO_MICRO;
        sda-gpios = MOUSE_PS2_PIN_SDA_PRO_MICRO;
    };
};

&gpiote { interrupts = < 6 0 >; };

/ {
    mouse_ps2: mouse_ps2 {
        status = "disabled";
        compatible = "zmk,input-mouse-ps2";
        ps2-device = <&uart_ps2>;
    };

    mouse_ps2_input_listener: mouse_ps2_input_listener {
        compatible = "zmk,input-listener-ps2";
        status = "disabled";
        device = <&mouse_ps2>;
    };
};
