#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* Left half (6x4) then Right half (6x4), then thumbs (3+3) */

                /* Row 0 (num) */
                &kp Q &kp W &kp E &kp R &kp T &kp Y      &kp U &kp I &kp O &kp P &kp LBKT &kp RBKT
                /* Row 1 (top) */
                &kp A &kp S &kp D &kp F &kp G &kp H      &kp J &kp K &kp L &kp SEMI &kp SQT &kp BSPC
                /* Row 2 (home) */
                &kp Z &kp X &kp C &kp V &kp B &kp N      &kp M &kp COMMA &kp DOT &kp FSLH &kp ENTER &kp ESC
                /* Row 3 (bottom) */
                &kp LCTL &kp LALT &kp LGUI &kp LSHFT &kp TAB &kp SPACE   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp MINUS &kp EQUAL

                /* Thumbs: left (C3,C4,C5) then right (C9,C10,C11) */
                &kp BSPC &kp RET &kp DEL    &kp SPACE &kp RSHFT &kp RCTRL
            >;
        };
    };
};
